@charset "utf-8";
@font-face {
   
    font-family: font2;
    src: url(Greek\ Punk\ Party.ttf);
}
@font-face {
    font-family: font1;
    src: url(LTCushion-Black.ttf);
}
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

header h1{

    font-family: font2;
    font-size: 80px;
}

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
   background-color: #000000;             
  
}

.container{

height: 400px;
width: 800px;
overflow: hidden ;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
border-radius: 10%;
}
.imagem img{
    height: 100%;
    width: 100%;
}
.bar {
    background-color: #b97b29;
    width: 30px;
    height: 5px;
    margin: 5px;
    cursor: pointer;
    transition: .5s;
}
.navegacao{
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
}
.bar:hover{
    background-color: #000000;
}

input{
    display: none;
}

.imagens{
    display: flex;
    height: 100%;
    width: 600%;
 
}

.imagem{
    width: 16.6666666667%;
    transition: 0.5s;
}

#imagem1:checked ~ .img1{
margin-left: 0;
}

#imagem2:checked ~ .img1{
    margin-left: -16.6666666667%;
}

#imagem3:checked ~ .img1{
    margin-left:-33.3333333333%; 
}

#imagem4:checked ~ .img1{
    margin-left: -50%;
}

#imagem5:checked ~ .img1{
    margin-left: -66.6666666667%;
}

#imagem6:checked ~ .img1{
    margin-left: -83.3333333333%;
}

footer{
font-family: font1;
    position: absolute;
    bottom: 0;
    margin: auto;
    font-size: large;
    color: #cf8f3b;
}

h1{
    background-color: #cf8f3b;
    text-align: center;
}